.EpisodeListen_div{
    // background-color: lightgray;
    width: 100vh;
    margin: auto;
    margin-top: 5vh;
    border: 5px solid lightgray;
    border-radius: 0.5vh;
    height: 50vh;
    box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.322);
    display: grid;
    grid-template-columns: 33% auto 33%;
    grid-template-areas:
    'btn btn btn' 
    'title title title'
    'img img img'
    'tagL tagL tagL'
    'audio audio audio';

    .description{
        color: darkgray;
        grid-area: tagL;
    }


    h3{
        grid-area: title;
        margin: auto;
    }
    img{
        grid-area: img;
        max-width: 20vh;
        max-height: 20vh;
        border-radius: 0.5vh;
        margin: auto;
    }

    .audioEl{
        grid-area: audio;
        margin: auto;
    }

    .goBackBTN{
        grid-area: btn;
        width: 20vh;
        height: 3vh;
        margin: 1vh;
        border-radius: 0.5vh;
        border: 1px solid lightgray;
        &:hover{
            cursor: pointer;
            background-color:lightgray;
        }
    }

}