.radiochannel{
    flex: 1;
    margin: 0.5vh;
    display: grid;
    grid-template-columns: 33% auto 33%;
    grid-template-areas: 
    'title title title'
    'img img img'
    'btn btn btn'
    'likeBTN likeBTN likeBTN';

        .channel_img_heart_div{
            position: relative;
            grid-area: img;
            margin: auto;
            img{
                max-width: 15vh;
                max-height: 15vh;
                border-radius: 0.5vh;
            }
        }
    h3{
        grid-area: title;
        margin: auto;
    }
    .listenBTN{
        grid-area: btn;
        margin: auto;
        width: 10vh;
        margin-top: 0.2vh;
        border: 2px solid lightgray;
        height: 2.5vh;
        border-radius: 0.5vh;
        color: black;
        font-weight: bold;
    }
    .listenBTN:hover{
        background-color: lightgray;
        cursor: pointer;
    }

    .likeBTN{
        grid-area: likeBTN;
        margin: auto;
        width: 15vh;
        margin-top: 0.2vh;
        border: 2px solid lightgray;
        height: 2.5vh;
        border-radius: 0.5vh;
        color: black;
        font-weight: bold;
        &:hover{
            cursor: pointer;
            background-color:lightgray;
        }
    }

    .hidden{
        display: none;
    }

    .channel_heartICON_Half{
        position: absolute;
        left: 4vh;
        right: 0vh;
        bottom: 5vh;
        color: lightgray;
        &:hover{
            cursor: pointer;
        }
    }

    .channel_img_heart_div:hover .channel_heartICON_Half{
        display: block;
    }
    .channel_img_heart_div:hover{
        background-color: rgb(0, 0, 0);
        border-radius: 0.5vh;
        img{
            opacity: 50%;
        }
    }

    .ColorRED{
        color: red;
    }

}

