.SearchContainer{
   margin-bottom: 5vh;

    .searchForm{
        .searchInput{
            height: 4vh;
            width: 25vh;
            border-radius: 0.5vh;
            border: 2px solid lightgray;
        }
    }

}