.searchResult_container{
    margin: auto;
    text-align: center;
    margin-bottom: 5vh;
    // border: 1px solid rgb(128, 126, 126);
    border: 1px solid black;
    border-radius: 0.5vh;
    width: 50vh;

    .episode{
        display: flex;
        max-width: 50vh;
        margin: auto;
        margin: 1vh;
        max-height: 10vh;
        border: 1px solid lightgray;
        border-collapse: collapse;
        &:hover{
            background-color: rgba(211, 211, 211, 0.479);
        }
        img{
            flex: 1;
            max-height: 5vh;
            max-width: 5vh;
        }

        .publish_date{
            
            padding-left: 1vh;
        }
        .episode_title{
            padding-left: 1vh;
            grid-area: title;
        }
        .e_container{
            flex: 1;
            text-align:left;
        }
        .episode_listenBTN{
            width: 5vh;
            height: 3vh;
            border: 1px solid lightgray;
            border-radius: 0.5vh;
            margin: 1vh;
            &:hover{
                cursor: pointer;
                background-color:lightgray;
            }
        }
        .hidden{
            display: none;
        }



    }



    .searchResult_pagesBTN{
        display: flex;
        margin: auto;
        .arrow_icon_left{
            flex: 1;
            &:hover{
                cursor: pointer;
            }
        }
        .arrow_icon_right{
            flex: 1;
            &:hover{
                cursor: pointer;
            }
        }
        p{
            flex: 1;
        }
    }

    .searchResult_showDetailed_btn{
        &:hover{
            cursor: pointer;
        }
    }

}

.searchResult_totalHits_div{
    text-align: right;
    width: 50vh;
    margin: auto;
}

.searchResult_btnICON_div{
    // display:grid;
    // grid-template-columns: auto;
    // grid-template-areas: 
    // 'i i2';
    text-align: right;
    .icon{
        margin: 0.2vh;
        &:hover{
            cursor: pointer;
        }
        .viewBTN{
            color: black;
            transition: background-color 0.4s ease;
        }

        .viewBTN2{
            color: black;
            transition: background-color 0.4s ease;
        }
        .active{
            background-color:lightgray;
            border-radius: 0.5vh;
        }
    }

}