* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: white;
  border: 1px solid lightgray;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.274);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.274);
  text-align: center;
}

header h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: black;
}

header img {
  max-height: 5vh;
}

header .SR-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main {
  border: 1px solid lightgray;
  margin: 1vh;
  margin-top: 5vh;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.336);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.336);
  height: 200vh;
}

.RadioChannels_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pageDisplay_div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 20% 40%;
      grid-template-columns: 40% 20% 40%;
      grid-template-areas: 'arrowL text arrowR';
}

.pageDisplay_div .arrow_icon_left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: arrowL;
  margin: auto;
  margin-right: -8%;
}

.pageDisplay_div .arrow_icon_left:hover {
  cursor: pointer;
  background-color: lightgray;
  border-radius: 1vh;
}

.pageDisplay_div .arrow_icon_right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: arrowR;
  margin: auto;
  margin-left: -8%;
}

.pageDisplay_div .arrow_icon_right:hover {
  cursor: pointer;
  background-color: lightgray;
  border-radius: 1vh;
}

.pageDisplay_div .currentPageText {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: text;
  color: dimgray;
  margin: auto;
}

.Radiochannels_showFavorites_div {
  text-align: left;
  margin-left: 1vh;
  margin-top: 1vh;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: btn;
}

.Radiochannels_showFavorites_div button {
  height: 3vh;
  width: 15vh;
  border: 1px solid lightgray;
  border-radius: 0.5vh;
}

.Radiochannels_showFavorites_div button:hover {
  cursor: pointer;
  background-color: lightgray;
}

.radiochannels_top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% auto 10%;
      grid-template-columns: 10% auto 10%;
      grid-template-areas: 'btn btn btn' 'title title title';
}

.radiochannels_top h1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: title;
}

.radiochannel {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0.5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% auto 33%;
      grid-template-columns: 33% auto 33%;
      grid-template-areas: 'title title title' 'img img img' 'btn btn btn' 'likeBTN likeBTN likeBTN';
}

.radiochannel img {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: img;
  max-width: 15vh;
  max-height: 15vh;
  border-radius: 0.5vh;
  margin: auto;
}

.radiochannel h3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: title;
  margin: auto;
}

.radiochannel .listenBTN {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: btn;
  margin: auto;
  width: 10vh;
  margin-top: 0.2vh;
  border: 2px solid lightgray;
  height: 2.5vh;
  border-radius: 0.5vh;
  color: black;
  font-weight: bold;
}

.radiochannel .listenBTN:hover {
  background-color: lightgray;
  cursor: pointer;
}

.radiochannel .likeBTN {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: likeBTN;
  margin: auto;
  width: 15vh;
  margin-top: 0.2vh;
  border: 2px solid lightgray;
  height: 2.5vh;
  border-radius: 0.5vh;
  color: black;
  font-weight: bold;
}

.radiochannel .likeBTN:hover {
  cursor: pointer;
  background-color: lightgray;
}

.channelListen_div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% auto 33%;
      grid-template-columns: 33% auto 33%;
      grid-template-areas: 'btn btn btn'  'title title title' 'img img img' 'tagL tagL tagL' 'audio audio audio';
}

.channelListen_div h3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: title;
  margin: auto;
}

.channelListen_div img {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: img;
  max-width: 20vh;
  max-height: 20vh;
  border-radius: 0.5vh;
  margin: auto;
}

.channelListen_div p {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: tagL;
  margin: auto;
}

.channelListen_div .audioEl {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: audio;
  margin: auto;
}

.channelListen_div .goBackBTN {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: btn;
  width: 20vh;
  height: 3vh;
  margin: 1vh;
  border-radius: 0.5vh;
  border: 1px solid lightgray;
}

.channelListen_div .goBackBTN:hover {
  cursor: pointer;
  background-color: lightgray;
}

.audioElement_div #stopICON {
  background-color: white;
  border: none;
  height: 4vh;
  width: 4vh;
}

.audioElement_div #playICON {
  background-color: white;
  border: none;
  height: 4vh;
  width: 4vh;
}

.audioElement_div .playBTN {
  border: none;
  background-color: white;
}

.audioElement_div .stopBTN {
  border: none;
  background-color: white;
}

.audioElement_div .volume-down-btn:hover {
  cursor: pointer;
}

.audioElement_div .volume-off-btn:hover {
  cursor: pointer;
}

.SearchContainer {
  margin-bottom: 5vh;
}

.SearchContainer .searchForm .searchInput {
  height: 4vh;
  width: 25vh;
  border-radius: 0.5vh;
  border: 2px solid lightgray;
}

.searchResult_container {
  margin: auto;
  text-align: center;
  margin-bottom: 5vh;
  border: 1px solid black;
  border-radius: 0.5vh;
  width: 50vh;
}

.searchResult_container .episode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50vh;
  margin: auto;
  margin: 1vh;
  max-height: 10vh;
  border: 1px solid lightgray;
  border-collapse: collapse;
}

.searchResult_container .episode:hover {
  background-color: rgba(211, 211, 211, 0.479);
}

.searchResult_container .episode img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 5vh;
  max-width: 5vh;
}

.searchResult_container .episode .publish_date {
  padding-left: 1vh;
}

.searchResult_container .episode .episode_title {
  padding-left: 1vh;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: title;
}

.searchResult_container .episode .e_container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
}

.searchResult_container .episode .episode_listenBTN {
  width: 5vh;
  height: 3vh;
  border: 1px solid lightgray;
  border-radius: 0.5vh;
  margin: 1vh;
}

.searchResult_container .episode .episode_listenBTN:hover {
  cursor: pointer;
  background-color: lightgray;
}

.searchResult_container .episode .hidden {
  display: none;
}

.searchResult_container .searchResult_pagesBTN {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.searchResult_container .searchResult_pagesBTN .arrow_icon_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.searchResult_container .searchResult_pagesBTN .arrow_icon_left:hover {
  cursor: pointer;
}

.searchResult_container .searchResult_pagesBTN .arrow_icon_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.searchResult_container .searchResult_pagesBTN .arrow_icon_right:hover {
  cursor: pointer;
}

.searchResult_container .searchResult_pagesBTN p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.searchResult_container .searchResult_showDetailed_btn:hover {
  cursor: pointer;
}

.searchResult_totalHits_div {
  text-align: right;
  width: 50vh;
  margin: auto;
}

.EpisodeListen_div {
  width: 100vh;
  margin: auto;
  margin-top: 5vh;
  border: 5px solid lightgray;
  border-radius: 0.5vh;
  height: 50vh;
  -webkit-box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.322);
          box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.322);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% auto 33%;
      grid-template-columns: 33% auto 33%;
      grid-template-areas: 'btn btn btn'  'title title title' 'img img img' 'tagL tagL tagL' 'audio audio audio';
}

.EpisodeListen_div .description {
  color: darkgray;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: tagL;
}

.EpisodeListen_div h3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: title;
  margin: auto;
}

.EpisodeListen_div img {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: img;
  max-width: 20vh;
  max-height: 20vh;
  border-radius: 0.5vh;
  margin: auto;
}

.EpisodeListen_div .audioEl {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: audio;
  margin: auto;
}

.EpisodeListen_div .goBackBTN {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: btn;
  width: 20vh;
  height: 3vh;
  margin: 1vh;
  border-radius: 0.5vh;
  border: 1px solid lightgray;
}

.EpisodeListen_div .goBackBTN:hover {
  cursor: pointer;
  background-color: lightgray;
}

.searchResult_detailed {
  margin-top: 2vh;
}

.searchResult_detailed input::-webkit-outer-spin-button,
.searchResult_detailed input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.searchResult_detailed input[type=number] {
  -moz-appearance: textfield;
}

.searchResult_detailed .episode_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.404);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.404);
  width: 200vh;
  margin: auto;
  margin-top: 1vh;
}

.searchResult_detailed .episode_container .episode {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 16%;
          flex: 1 0 16%;
  margin: 1vh;
  position: relative;
  overflow: hidden;
}

.searchResult_detailed .episode_container button {
  width: 15vh;
  height: 2.5vh;
  border: 1px solid lightgray;
  border-radius: 0.5vh;
}

.searchResult_detailed .episode_container button:hover {
  cursor: pointer;
  background-color: lightgray;
}

.searchResult_detailed .episode_container img {
  max-width: 20vh;
  max-height: 20vh;
  border-radius: 0.5vh;
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.452);
          box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.452);
}

.searchResult_detailed .episode_container .hidden {
  display: none;
}

.searchResult_detailed .episode_container .episode:hover .episode_description {
  display: block;
  overflow: visible;
  right: 0;
  bottom: 0;
  left: -3vh;
  font-size: 15px;
  position: absolute;
  padding: 2rem;
  height: 20vh;
  width: 22vh;
}

.searchResult_detailed .episode_container .episode:hover .episode_description p {
  width: 22vh;
  height: 20vh;
  color: black;
  cursor: default;
}

.searchResult_detailed .episode_container .episode_img {
  position: relative;
}

.searchResult_detailed .episode_container .episode:hover .episode_img img {
  display: none;
}

.searchResult_detailed .episode_container .episode:hover .episode_img {
  height: 20vh;
  width: 23vh;
  border: 3px solid #949393;
  margin: auto;
  border-radius: 0.5vh;
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.452);
          box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.452);
}

.searchResult_detailed .searchResultDetailed_showNormalList:hover {
  cursor: pointer;
}

.searchResult_detailed .searchResult_pagesBTN {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.searchResult_detailed .searchResult_pagesBTN .arrow_icon_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.searchResult_detailed .searchResult_pagesBTN .arrow_icon_left:hover {
  cursor: pointer;
}

.searchResult_detailed .searchResult_pagesBTN .arrow_icon_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.searchResult_detailed .searchResult_pagesBTN .arrow_icon_right:hover {
  cursor: pointer;
}

.searchResult_detailed .searchResult_pagesBTN p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.searchResult_detailed .pageNum_input {
  height: 3vh;
  width: 7vh;
  border-radius: 0.5vh;
  border: 1px solid #8b8b8b;
}

.searchResult_detailed .pageNum_input:hover {
  cursor: pointer;
  background-color: rgba(139, 139, 139, 0.2);
}

.searchResult_detailed .pageNum_btn {
  height: 3vh;
  width: 6vh;
  margin-left: 0.5vh;
  border-radius: 0.5vh;
  border: 1px solid #8b8b8b;
}

.searchResult_detailed .pageNum_btn:hover {
  cursor: pointer;
  background-color: rgba(139, 139, 139, 0.6);
}
/*# sourceMappingURL=style.css.map */